<?xml version="1.0"?>
<launch>
  <arg name="rate"   default="1"/>
  <arg name="cloud"  default="/segment_table/nonplane"/>

  <node name="cylinder_detector" pkg="vision_pick_place" type="cylinder_detector" output="screen">
    <remap from="cloud" to="$(arg cloud)"/>
    <param name="rate"  type="double" value="$(arg rate)"/>
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find vision_pick_place)/config/pcl_cylinder.rviz"/>
</launch>

