GIT
data/save_data/PCD_placing/
pick_n_place/scripts/grasped_object_sample.bag
pnp_planner/config/
pnp_planner/scripts/
pick_n_place/scripts/__pycache__/
data/save_data/system_adaptability
data/save_data/system_scalability
data/save_data/system_performance
data/save_data/exps_slides
data/save_data/experiments_placing_update/
data/save_data/placing_data/
data/save_data/test/
data/save_data/test_grasp_pos/
data/save_data/test_placing_pillowc/
data/save_data/test_placing_towel/
log_picknplace_piling_pillowc.txt
log_picknplace_pillowc_plan.txt
log_picknplace_pillowc_sm.txt
log_picknplace_tests_placing.txt
log_picknplace.txt
notas
