GIT
data/save_data/PCD_placing/
pick_n_place/scripts/grasped_object_sample.bag
pick_n_place/scripts/pile_quality_animation.mp4
pnp_planner/config/
pnp_planner/scripts/
pnp_planner/pddl/plan.pddl
pnp_planner/pddl/problem.pddl
pick_n_place/scripts/__pycache__/
data/save_data/system_adaptability
data/save_data/system_adaptability2
data/save_data/system_scalability
data/save_data/system_performance
data/save_data/exps_slides
data/save_data/placing_data/
data/save_data/test/
log_picknplace.txt
summary_picknplace.csv
planning_summary.txt
notas
