<launch>

<!-- Start camera ASUS Xtion Pro Live-->
    <include file="$(find openni2_launch)/launch/openni2.launch"/>

<!-- launch image view -->
  <node name="rqt_image_view" pkg="rqt_image_view" type="rqt_image_view" respawn="false"
    output="screen"/>

<!-- launch dynamic reconfigure -->
  <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" respawn="false"
    output="screen"/>

</launch>
