<!-- LAUNCH FILE FOR SIMULATION -->

<launch>

<!-- Load motions -->
  <rosparam file="$(find pick_garment_demo)/config/motions/set_position.yaml" command="load" />
  <rosparam file="$(find pick_garment_demo)/config/motions/give_garment.yaml" command="load" />
  <rosparam file="$(find pick_garment_demo)/config/motions/pregive.yaml" command="load" />

<!-- Launch Gazebo -->
  <include file="$(find tiago_gazebo)/launch/tiago_gazebo.launch">
    <arg name="public_sim" value="false" />
    <arg name="robot" value="steel" />
    <!--    <arg name="world" value="tutorial_office" /> -->
    <arg name="gzpose" value="-x 1.4 -y -2.79 -z -0.003 -R 0.0 -P 0.0 -Y 0.0" />
    <arg name="use_moveit_camera" value="true" />
  </include>

<!-- Package launch -->
  <include file="$(find pick_garment_demo)/launch/pick_garment_demo.launch"/>

</launch>
