<?xml version="1.0" encoding="UTF-8"?>
<launch>


<!-- LINEAR MOVEMENT CONTROLLER -->
  <include file="$(find iri_kinova_linear_movement)/launch/node.launch"> </include> 

<!-- IRI KINOVA DEMO -->
  <include file="$(find pick_n_place)/launch/node.launch"> </include>

<!-- TIAGO PCL TUTORIAL -->
  <include file="$(find vision_pick_place)/launch/picknplace.launch"> </include>


</launch>
